# Налаштування бази даних
DB_USER
DB_PASSWORD
DB_NAME
DB_PORT

# Налаштування для Python (DATABASE_URL)
DATABASE_URL

# Налаштування для JWT
SECRET_KEY
ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES

# Налаштування для api обміну валют
EXCHANGE_RATE_API_URL